.inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.post__list {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-right: 35px;
}
.popular__list {
  display: flex;
  flex-direction: column;
}
.popular__text {
  font-size: 18px;
  font-weight: 700;
}
